|module.run(['$templateCache', ($templateCache) ->
|  $templateCache.put('contrib/iframe', '''
div(ng-controller="ContribIframeAdminController as ctrl")
  header
    h1
      span.project-name
        | {{::project.name}}
      span.green
        | {{::sectionName}} 

  section.project-iframe-admin
    div.admin-attributes-section(tg-project-values, type="userstory-statuses",
      ng-controller="ProjectValuesController as ctrl",
      ng-init="section='admin'; resource='iframe'; type='userstory-statuses'; sectionName='ADMIN.PROJECT_VALUES_STATUS.US_TITLE'",
      objName="status")

      div.project-values-title
        h2 Iframes
        a.button.button-gray.show-add-new(href="", title="Add Iframe")
          span Add Iframe

      div.colors-table
        div.table-header
          div.row
            div.iframe-icon(style="flex-basis: 60px; flex-grow: 0; max-width: 100px; position: relative") Icon
            div.iframe-title(style="flex-basis: 60px; flex-grow: 1; position: relative") Title
            div.iframe-slug(style="flex-basis: 60px; flex-grow: 1;  position: relative") Slug
            div.iframe-url(style="padding-left: 20px; flex-basis: 120px; flex-grow: 3; position: relative") URL
            div.iframe-html(style="padding-left: 45px; flex-basis: 250px; flex-grow: 6; position: relative") HTML
            div.options-column
        div.table-main
          div.sortable.ui-sortable
            div.tg-scope(ng-repeat="value in values", tg-bind-scope)
              form(tg-bind-scope, style="max-width:100%")
                div.row.table-main.visualization
                  span.icon.icon-drag-v

                  div.iframe-icon(style="flex-basis: 60px; flex-grow: 0; max-width:100px; position: relative")
                    span.icon
                      img(ng-src="{{value.icon}}")

                  div.iframe-title(style="flex-basis: 60px; flex-grow: 1; position: relative")
                    span {{ value.title }}

                  div.iframe-slug(style="flex-basis: 60px; flex-grow: 1; position: relative")
                    span {{ value.slug }}

                  div.iframe-url(style="flex-basis: 120px; flex-grow: 3; position: relative")
                    span {{ value.url }}

                  div.iframe-html(style="flex-basis: 250px; flex-grow: 6; position: relative")
                    span {{ value.html }}

                  div.options-column
                    a.a.edit-value.icon.icon-edit(href="", title="{{'ADMIN.COMMON.TITLE_ACTION_EDIT_VALUE' | translate}}")
                    a.delete-value.icon.icon-delete(href="", title="{{'ADMIN.COMMON.TITLE_ACTION_DELETE_VALUE' | translate}}")

                div.row.table-main.edition.hidden
                  div.iframe-icon(style="flex-basis: 60px; flex-grow: 0; max-width:100px; position: relative")
                    span FIXME

                  div.iframe-title(style="flex-basis: 60px; flex-grow: 1; position: relative")
                    input(name="title", type="text", placeholder="Title",
                        ng-model="value.title", data-required="true", data-maxlength="255")

                  div.iframe-slug(style="flex-basis: 60px; flex-grow: 1; position: relative")
                    input(name="slug", type="text", placeholder="Slug",
                        ng-model="value.slug", data-required="true", data-maxlength="255")

                  div.iframe-url(style="flex-basis: 120px; flex-grow: 3; position: relative")
                    input(name="url", type="text", placeholder="http://URL",
                        ng-model="value.url", data-required="true", data-maxlength="255")

                  div.iframe-html(style="flex-basis: 250px; flex-grow: 6; position: relative")
                    input(name="html", type="text", placeholder="HTML",
                        ng-model="value.html", data-required="false", data-maxlength="8092")


                  div.options-column
                    a.save.icon.icon-floppy(href="", title="{{'COMMON.SAVE' | translate}}")
                    a.cancel.icon.icon-delete(href="", title="{{'COMMON.CANCEL' | translate}}")

|''')]);
